.main_btns {
    margin: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    .button {
        width: 333px;
        height: 100px;
        background-color: #f5f5f5;
        border-radius: 10px;
        box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            box-shadow: 0px 1px 1px rgb(0, 0, 0);
        }
        p {
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                text-decoration: none;
                color: #000;
                font-size: 15px;
                font-weight: bold;
            }
        }
    }
}
