.main_btns {
    margin: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    .button {
        width: 333px;
        height: 100px;
        background-color: #f5f5f5;
        border-radius: 10px;
        box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            box-shadow: 0px 1px 1px rgb(0, 0, 0);
        }
        p {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            a {
                text-decoration: none;
                color: #000;
                font-size: 15px;
                font-weight: bold;
                width: 100%;
                height: 100%;
                text-align: center;
                line-height: 100px;
            }
        }
    }
}

.add_pictures {
    margin-top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    input {
        border-radius: 10px;
        width: 250px;
        height: 150px;
        background-color: var(--blockColor);
        position: relative;
        display: none;
    }
    label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
        margin-top: 110px;
        color: var(--whiteColor);
        position: absolute;
        top: 0;
        border-radius: 10px;
        width: 250px;
        height: 150px;
        background-color: var(--blockColor);
        img {
            margin-top: 10px;
        }
    }
}
