main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.add_img {
    height: 150px;
    width: 250px;
    background-color: #444;
    border-radius: 10px;
    margin-top: 82px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    .material-symbols-outlined {
        font-size: 80px;
        color: #fff;
    }
    p {
        font-size: 16px;
        color: #fff;
        font-weight: bold;
    }
}

.input_data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    width: 80vw;
    input {
        display: block;
        padding-left: 10px;
        height: 50px;
        border: #666 2px solid;
        color: #000;
    }
}
