main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.add_img {
    height: 150px;
    width: 250px;
    background-color: #444;
    border-radius: 10px;
    margin-top: 82px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    position: relative;
    .material-symbols-outlined {
        font-size: 80px;
        color: #fff;
    }
    .custom-upload {
        font-size: 16px;
        color: #fff;
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
        display: inline-block;
        width: 250px;
        height: 150px;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        line-height: 250px;
    }

    .hidden {
        display: none;
    }
}

.input_data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    width: 80vw;
    input {
        display: block;
        padding-left: 10px;
        height: 50px;
        border: #666 2px solid;
        color: #000;
    }
    .data_frame {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80vw;
        height: 50px;
        border: #666 2px solid;
        p {
            margin-left: 10px;
            font-weight: bold;
            font-size: 16px;
        }
        select {
            margin-right: 10px;
            color: #00a1f8;
        }
    }
}

.btn_data {
    width: 200px;
    height: 40px;
    background-color: #b1e9ff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    box-shadow: 0 1px 1px #000;
    transition: 0.5s;
    &:hover {
        background-color: #dbf5ff;
    }
    button {
        font-weight: bold;
        font-size: 15px;
        height: 100%;
        width: 100%;
    }
}
