body {
    background-color: #efefef;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 50px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        width: 100px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            height: 100%;
            width: 100%;
        }
    }
}

.top_data {
    height: 230px;
    background-color: #d2d2d2;
    margin: 76px 30px 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: -100px;
    h2 {
        font-size: 12px;
    }
    h3 {
        font-size: 22px;
        text-align: left;
    }
    .teast_graph {
        width: 260px;
        height: 260px;
        margin-bottom: 90px;
    }
    #tasteChart {
        width: 100%;
        height: 100%;
        position: relative;
    }
    .top_price {
        position: absolute;
        top: 250px;
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 60px;
    background-color: #333;
    display: flex;
    div {
        width: 25%;
        height: 100%;
        background-color: #333;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-right: 1px #efefef solid;
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        transition: 0.4s;
        &:hover {
            background-color: #555;
        }
        a {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: #fff;
            cursor: pointer;
            span {
                margin-bottom: 3px;
            }
        }
    }
    .footer_option {
        border: none;
    }
}
