.data_view {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 32px;
    .data_date {
        h2 {
            font-size: 16px;
            font-weight: bold;
            position: relative;
            &::after {
                content: "";
                display: block;
                width: 83vw;
                margin: 0 32px;
                position: absolute;
                bottom: 0;
                left: -32px;
                border-bottom: 1px #666 solid;
            }
        }
    }
    .ramen_view {
        margin-top: 16px;
        margin-bottom: 76px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 13px;
        .ramen_data {
            display: flex;
            flex-direction: column;
            gap: 4px;
            div {
                display: flex;
                flex-direction: column;
                gap: 3px;
                img {
                    width: 100px;
                    height: 100px;
                }
                h2 {
                    font-size: 12px;
                }
                h3 {
                    font-size: 10px;
                }
                h4 {
                    font-size: 8px;
                }
            }
        }
    }
}
