.view_vlog {
    margin-top: 110px;
}

.search_box {
    margin: 0 20px;
    background-color: var(--cardBackground);
    height: 30px;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &::after {
        content: "";
        position: absolute;
        z-index: 100;
        top: 18%;
        left: 8px;
        width: 20px;
        height: 20px;
        background-image: url("../images/Search.png");
    }
    input {
        /* display: flex;
        justify-content: center;
        align-items: center; */
        width: 100%;
        height: 100%;
        margin-left: 35px;
        font-size: 14px;
        /* font-weight: bold; */
    }
}
